* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #f6f6f8;
}

main {
  width: 100%;
}

.form__heading {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin-bottom: 1rem;
}

.form__section {
  margin: 1rem;
  padding: 1rem;

}

.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  border: 1px solid #ebf0f4;

  label {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .formInput__field {
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid #eee;
    line-height: normal;
    width: 100%;
    background-color: #fff;
  }
}

.ant-select-selection-placeholder,
.ant-select-selection-item {
  font-size: .8rem;
}

.formInput__wrapper {
  position: relative;
  width: 100%;
}

.form__error {
  font-size: .8rem;
  font-weight: 400;
  color: #d40000;
  /* position: absolute;
  left: 0;
  bottom: -20px; */
}

.form__footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ebf0f4;
  padding: 1rem;
  background-color: #fff;
  border-radius: .5rem;

  h6 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  input {
    font-size: .8rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #eee;
  }
}

.form__btn {
  cursor: pointer;
  width: 100%;
  background-color: #222;
  color: #fff;
  font-size: 1rem;
  padding: .75rem 1rem;
  border: unset;
  margin-bottom: 1rem;

  &:hover {
    border-color: #222;
  }

  &:focus-visible,
  &:focus {
    outline-color: unset;
  }
}

.formCheckbox__wrapper {
  position: relative;
  width: 100%;
}

.formCheckbox__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-transform: uppercase;
  padding: .5rem;
  position: relative;
  border: 1px solid #222;

  .formCheckbox__option {
    font-size: .8rem;
    line-height: 100%;
  }

}

.formCheckbox__group--active {
  background-color: #222;
  color: #fff;
}


.formCheckbox__input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all .3s ease-in-out;
  opacity: 0;
}


.form__group--select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.formCheckbox__wrapper {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: .5rem;
  border: 1px solid #ebf0f4;
}

.form__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

.form__btn--copy {
  margin-top: 1rem;
}

.form__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  gap: 2rem;
}