main {
  width: 100%;
}

.form__section {
  width: 800px;
  margin: 0 auto;
  margin-top: 10vh;
  background-color: #eee;
  padding: 1rem;
}

.form__wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__group {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 2rem;

  label {
    font-size: 1.25rem;
    font-weight: 600;
  }

  input {
    font-size: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #eee;
    line-height: normal;
    width: 100%;

    &:focus-visible {
      outline: 1px solid #000000;
    }
  }
}

.formInput__wrapper {
  position: relative;
}

.form__error {
  font-size: .8rem;
  font-weight: 400;
  color: #d40000;
  position: absolute;
  left: 0;
  bottom: -20px;
}

.form__footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ddd;
  padding: 1rem;

  h6 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  input {
    font-size: .8rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #eee;

    &:focus-visible {
      outline-color: unset;
    }
  }
}

.form__btn {
  cursor: pointer;
  width: 100%;
  background-color: #222;
  color: #fff;
  font-size: 1rem;
  padding: .75rem 1rem;
  border: unset;
  margin-bottom: 1rem;

  &:hover {
    border-color: #222;
  }

  &:focus-visible,
  &:focus {
    outline-color: unset;
  }
}