:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #222;
}

a {
  font-weight: 500;
  color: #222;
  text-decoration: inherit;
}

a:hover {
  color: #222;
}